RewriteEngine on 
RewriteCond %{HTTP_HOST} ^connectteach.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.connectteach.com$ [OR]
RewriteCond %{HTTP_HOST} ^connectteach.soulflyer.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.connectteach.soulflyer.com$
RewriteRule ^(.*)$ "http\:\/\/127\.0\.0\.1\:12002%{REQUEST_URI}" [P,QSA,L]

