/* @override http://localhost:3000/stylesheets/form.css?1258275411 */

/* @override http://localhost:3000/stylesheets/form.css?1255701903 */

form fieldset {
  margin: 6;
  padding: 6px;
  height: 75px;
  clear: left;
}

form #form_header {
  width: 100%;
  overflow: hidden;
}

form h1 {
  float: left;
}

form #tutor_submit {
  margin-left: 200px;
  float: right;
}
form p {
  margin: 0;
  padding: 0;
  text-align: right;
}

form input {
  width: 120px;
  margin: 0;
  padding: 0;
}

form textarea {
  width: 100%;
  height: 57px;
}

form #left {
  width: 305px;
  float: left;
  clear: left;
}

form #experience {
  height: inherit;
  clear: right;
}

form #experience label {
  display: block;
  text-align: left;
}

form #photo {
  height: 100px;
}

form #photo img {
  margin-left: 6px;
  float: right;
}

form #photo input {
  width: 180px;
  float: left;
}
form #contact {
  height: 112px;
}
form #contact label {
    display: block;
  text-align: left;
  width: 60px;
  float: left;
}
form #contact input {
  width: 220px;
}

