/* @override http://localhost:3000/stylesheets/menu.css?1258687345 */

#menu {
  position: relative;
  height: 50px;
  background: url(../images/MenuBG.gif) repeat-y;
}
#menu a:link, #menu a:visited, #menu a:active {
  color: #462614;
  text-decoration: none;
}
a:hover .button {
  background-image: url(../images/HoverButton.png);
  color: #007e6b;
}
a:hover #coursebutton {
  background: url(../images/HoverButtonLarge.png) no-repeat;
}
.button {
  
  float: left;
  position: absolute;
  width: 100px;
  height: 50px;
  background: url(../images/Button.png) no-repeat;
  color: white;
}
.button p {
  height: 20px;
  overflow: hidden;
  margin-top: 16px;
  text-align: center;
  font-size: 12px;
}
#homebutton {
  left: 85px;
}
#clientbutton {
  left: 165px;
}
#tutorbutton {
  left: 245px;
}
#coursebutton {
  background: url(../images/ButtonLarge.png) no-repeat;
  width:  165px;
  left: 325px;
}
#aboutbutton {
  left: 465px;
}
#contactbutton {
  left: 545px;
}
.form_submit_button {
  width: 100px;
  height: 50px;
  background: url(../images/Button.png) no-repeat;
  color: white;
  border-style: none;
  font-size: 12px;
}
.form_submit_button:hover {
  width: 100px;
  height: 50px;
  background-image: url(../images/HoverButton.png);
  color: #007e6b;
  border-style: none;
}
#button1 {
  top: -14px;
  right: 85px;
}
#button2 {
  right: 165px;
  top: -14px;
}
#button3 {
  top: -14px;
  right: 245px;
}
#button4 {
  right: 325px;
  top: -14px;
}