/* @override http://connectteach.com/stylesheets/newsbar.css?1257920061 */

/* @override http://localhost:3000/stylesheets/newsbar.css?1256270264 */

#text {
	width: 500px;
}
div.item {
  clear: both;
  height: 75px;
  margin-bottom: 18px;
  overflow: hidden;
}
div.item img {
  width: 100px;
}
div.item p {
  color: #6e5973;
  margin: 0;
  padding: 0;
  font-size: xx-small;
}
#image {
  width: 105px;
  height: 73px;
  background-image: url(../images/newspicshadow.png);
  padding: 0;
  float: left;
  margin: 0 8px 0 0;
}
#news h1,#news h2,#news h3,#news h4{
  color: #0c7b6b;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#news h3 {
  margin: 0;
}
#editnewsitemsbutton {
  background: url(../images/ButtonLarge.png) no-repeat;
  width:  165px;
  position: absolute;
  top: 8px;
  right: 45px;
}
a:hover #editnewsitemsbutton{
  background: url(../images/HoverButtonLarge.png) no-repeat;
}
#image img {
  border: 0px;
}


