/* @override http://localhost:3000/stylesheets/newsbar.css?1275469012 */

#text {
  width: 620px;
}

#newsbar {
  float: right;
  width: 170px;
  clear: none;
  margin: 0;
  background-color: #c5c7c8;  /* X + padding-bottom */
  margin-bottom: 0px;
  padding: 1px 0 0px;
  height: 438px;
}
#news {
  position: absolute;
  top: 140px;
}
#newsheader {
  background: url(../images/hotnews.png) no-repeat;
  margin: 0;
  padding: 0;
  clear: both;
  position: relative;
}
#newsheader h1 {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
div.item {
  clear: both;
  height: 50px;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0;
}
div.item img {
  width: 70px;
}
div.item p {
  color: #6e5973;
  margin: 0;
  padding: 0;
  font-size: xx-small;
}

#news_item_image {
  width: 60px;
  height: 40px;
  background-image: url(../images/newspicshadow.png);
  padding: 0;
  float: left;
  margin: 0 8px 0 0;
  overflow: hidden;
}

#news_item_image img {
  border: 0px;
}

#news_item_text {
  float: right;
  width: 96px;
  height: 40px;
  overflow: hidden;
  padding: 0 4px 0 0;
  margin: 0;
}
#news h1,#news h2,#news h3,#news h4{
  color: #0c7b6b;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#news h3 {
  margin: 0;
  font-size: 10px;
}
#editnewsitemsbutton {
  position: absolute;
  top: 0px;
  right: 200px;
}
a:hover #editnewsitemsbutton{
  }
#login {
  height: 120px;
}
#loginlogo {
  background: url(../images/register.png) no-repeat;
  height: 30px;
  width: 174px;
  padding: 0;
  margin: 0 0 2px;
}
#loginpanel {
  background: url(../images/login_orange.png) no-repeat;
  height: 98px;
  width: 171px;
  margin: 0 0 2px;
  float: right;
  color: #fff;
  padding: 8px 0 0;
  position: absolute;
  font-size: 8px;
}
#loginpanel p {
  padding: 0;
  margin: 7px 0 2px 6px;
  text-transform: uppercase;
}
#loginpanel a {
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
}
#loginpanel label {
  margin: 0;
  padding: 0;
}
* html #logonpanel #label {
  font-size: 8px;
}
#loggedinas {
}
#loggedinas p {
}
#logoutbutton {
}
#loginpanel input#session_email, #loginpanel input#session_password {
  width: 98px;
  height: 11px;
  padding: 0;
  margin: 0 4px 0 0;
  background-color: #e7e7e8;
  float: right;
}
#loginpanel input#session_email {
}
#loginpanel input#session_password {
}
#loginpanel input#session_remember_me {
  margin: 0 0 0 0;
  padding: 0;
  position: absolute;
  float: right;
  right: 70px;
}
#loginpanel input.form_submit_button {
  background: url(../images/loginbutton.png) no-repeat;
  height: 15px;
  color: #fff;
  font-size: 8px;
  width: 39px;
  padding: 0;
  float: right;
  margin: 0 6px 0 8px;
}
.form_submit_button:hover {

}
#loginpanel #sign_up {
  width: 50px;
  float: left;
  clear: both;
}
#loginpanel #new_password {
  float: left;
}
