/* @override http://localhost:3000/stylesheets/pagesform.css?1255854292 */

/* @override http://localhost:3000/stylesheets/pagesform.css?1255854031 */

form p {
  width: 410px;
  text-align: left;
}
textarea {
  width:410px
}

#left {
  float: left;
}
#right {
  float: left;
}

#text {
  height: 600px;
}