/* @override http://localhost:3000/stylesheets/pagesform.css?1258544659 */

form p {
  width: 410px;
  text-align: left;
}
textarea {
  width:410px
}

#left {
  float: left;
  clear: both;
}
#right {
  float: left;
}

#text {
  height: 600px;
}
#textilehelp_button {
    top: 23px;
  right: 40px;

}
#page_submit {
  right: 115px;
  top: 23px;
  position: absolute;
}
#form_header {
  margin: 0;
  padding: 0;
  float: left;
}
form p {
  clear: both;
}
#dont_edit {
  clear: both;
}
#dont_edit textarea {
  height: 100px;
}
#dont_edit p{
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
}
#dont_edit p:first-child {
  margin-top:16px;
}