/* @override http://localhost:3000/stylesheets/show_tutor.css?1263753567 */
#left_panel {
  float: left;
  padding-right: 12px;
  border: 2px solid #b7aeb8;
  padding: 8px;
  margin-right: 12px;
}
#left_top {
  float: left;
}
#left_top img {
  margin-right: 12px;
}
#name_age_sex {
  float: left;
}
#tutor_img {
  float: left;
}
#contact_details {
  float: left;
  clear: both;
}
#experience {
  float: left;
  border: 2px solid #b7aeb8;
  padding-left: 6px;
  padding: 6px;
  width: 530px;
}
p {
  margin: 0;
  padding: 0;
}
#text {
  padding-top: 12px;
}
h1, h2, h3, h4 {
  color: #6e5973;
}
h3:first-child {
  margin-top: 0px;
}