/* @override http://localhost:3000/stylesheets/site.css?1256347970 */
h1, h2, h3, h4{
  color: #0c7b6b;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
h1 {
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #000;
}
#header {
  position: relative;  
}
#banner {
  height: 372px;
  margin: 0;
  padding: 0;
  background-image: url(../images/Header.jpg);
}
#logo {
  position: absolute;
  left: 780px;
  top: 26px;
  height: 116px;
  width: 157px;
  background: url(../images/Logo.png) no-repeat;
}
#login {
  position:  absolute;
  left: 665px;
  top: 148px;
  background: url(../images/Login.png) no-repeat;
  width: 244px;
  height: 234px;
  z-index: 1;
  padding-left: 20px;
  padding: 20px;
}
#loginlogo {
  background: url(../images/LoginLogo.png) no-repeat;
  height: 25px;
  width: 245px;
  position: absolute;
  bottom: 40px;
  left: 16px;
}
#loggedinas {
  width: 244px;
}
#loggedinas p {
  margin: 0;
  padding: 0;
}
#logoutbutton {
  background-color: #ffcaa8;
}
#details {
  background-color: #ffcaa8;  
}
a:link,  a:visited,  a:active {
  color: #000	;
  text-decoration: none;
}
/* Most of the styles for the menu are now in a separate file */
#menu {
  padding: 0;
  margin: 0;
}
#main {
  background: url(../images/MainBG.gif) repeat-x;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1000px;
}
#text {
  font-size: 14px;
  color: #6e5973;
  text-align: justify;
  padding: 0;
  margin: 0 0 0 90px;
  width: 820px;
  position: relative;
}
#text.narrow {
  width: 700px;
}
#text img.large {
  width: 400px;
  float: left;
  margin-right: 20px;
}
/*This may need moving into newsbar.css so it only gets applied when the newsbar is to be displayed*/
#news {
  float: right;
  width: 250px;
  padding: 0;
  margin-right: 85px;
}
#footer {
  height: 49px;
  background: url(../images/Footer.png) no-repeat center;
  clear: both;
}

#editbutton {
  background: url(../images/ButtonLarge.png) no-repeat;
  width: 170px;
  right: -60px;
  height: 45px;
  position: absolute;
  top: -14px;
}
#editbutton p {
  margin: 0;
  padding-top: 16px;
}
a:hover #editbutton{
  background: url(../images/HoverButtonLarge.png) no-repeat;
}
a:link #editbutton p , a:link #editbutton p , a:link #editbutton p  {
  color: white;
}
a:hover #editbutton p {
  color: #007e6b;
}