/* @override http://localhost:3000/stylesheets/site.css?1255743874 */
body {
  margin: 12px 16px 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#header {
  position: relative;  
}
#banner {
  height: 372px;
  margin: 0;
  padding: 0;
  background-image: url(../images/Header.jpg);
}
#logo {
  position: absolute;
  left: 780px;
  top: 26px;
  height: 116px;
  width: 157px;
  background: url(../images/Logo.png) no-repeat;
}
#login {
  position:  absolute;
  left: 665px;
  top: 148px;
  background: url(../images/Login.png) no-repeat;
  width: 284px;
  height: 274px;
  z-index: 1;
}
#loginlogo {
  background: url(../images/LoginLogo.png) no-repeat;
  height: 25px;
  width: 245px;
  position: absolute;
  bottom: 40px;
  left: 16px;
}
/* Most of the styles for the menu are now in a separate file */
#menu {
  padding: 0;
  margin: 0;
}
#main {
  background: url(../images/MainBG.gif) repeat-x;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1000px;
}
#text {
  margin: 0 0 0 20px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#news {
  float: right;
  width: 250px;
  margin: 6px;
  padding: 6px;
}
#footer {
  height: 50px;
  background: url(../images/Footer.png) no-repeat center;
}