<% if @page.news %>
	<% content_for :newsbarcss do %>
		<%= stylesheet_link_tag 'newsbar' %>
	<% end %>
	<% content_for :newsbar do %>
		<div id="news">
			<% if @newsitems[1] %>
			<p><%= @newsitems[1].title  %></p>
			<% end %>
			<p>News news news news news news news news news news news news news news news news news 
				news news news news news news news news news news news news news news news news news 
				news news news news news news news news news news news news news news news news news 
				news news news news news news news news news news news news news news news news news 
				news news news news news news news news news news news news news</p>
		</div>
	<% end %>
<% end %>

<%= textilize @page.English_content %>

