<% if @page.news %>
	<% content_for :newsbarcss do %>
		<%= stylesheet_link_tag 'newsbar' %>
	<% end %>
  <%= render :partial => 'content_for_newsbar' %>
<% end %>

<% if session[:user_id] && User.find(session[:user_id]).role=="admin" %>
	<% content_for :edit_this_page_button do %>
	  <% link_to (static_edit_path(@page.permalink)) do %>
	  <div id="editbutton" class="button">
			<p>Edit this page</p>
		</div>
	  <% end %>
	<% end %>
<% end %>

<% if @page.permalink=="tutorinfo" %>
  <h3>Special stuff for tutorinfo page only</h3>
  <% if session[:user_id] %>
    <% link_to(:controller => 'clearance/sessions', :action => 'new') do %>
    <div id="button1", class="button">
    	<p>Login</p>
    </div>
    <% end %>
  <% else %>
  <% end %>
<% end %>

<%= @page.html %>
<%= textilize @page.English_content %>


 end %>