<% if @page.news %>
	<% content_for :newsbarcss do %>
		<%= stylesheet_link_tag 'newsbar' %>
	<% end %>
  <%= render :partial => 'content_for_newsbar' %>
<% end %>
<% if session[:user_id] && User.find(session[:user_id]).role=="admin" %>
	<% content_for :edit_this_page_button do %>
	  <%= link_to '<div id="editbutton" class="button">
			<p>Edit this page</p>
		</div>', static_edit_path(@page.permalink) %>
	<% end %>
<% end %>

<%= textilize @page.English_content %>
